@import "./partials/bootstrap_loader.scss";

main {
    min-height: 100vh;
    padding-top: 70px;
}

.jumbotron {
    min-height: calc(100vh - 70px);
}

.btn-icon {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

.card-body img {
    max-height: 400px;
    object-fit: cover;
}

.table_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

td,
th {
    vertical-align: middle;
}
